[submodule "_vendor/reveal.js"]
	path = _vendor/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "_vendor/future_cxx"]
	path = _vendor/future_cxx
	url = git@github.com:ThePhD/future_cxx.git
