[submodule "vendor/future_cxx"]
	path = _vendor/future_cxx/future_cxx
	url = https://github.com/ThePhD/future_cxx.git
[submodule "vendor/reveal.js"]
	path = _vendor/reveal.js
	url = https://github.com/hakimel/reveal.js.git
	branch = dev
