# SITE CONFIGURATION
baseurl: ""
url: "https://thephd.github.io"

# THEME-SPECIFIC CONFIGURATION
title: The Pasture
description: "The musings, ideas, discussions, and sometimes silly words from a programming sheep & shepherd"
avatar: assets/img/thephd.png
favicon: assets/favicon.png

# Header and footer text
header_text: ♡
header_feature_image: assets/img/pexels/triangular.jpeg
footer_text: >
  Copyright © 2018-2020 ThePhD -- Powered by <a href="https://jekyllrb.com/">Jekyll</a> with a modified <a href="https://github.com/sylhare/Type-on-Strap">Type on Strap!</a>

# Blog
excerpt: true                                           # Or "truncate" (first 250 characters), "false" to disable
post_navigation: true
color_image: /assets/img/lineart.png                    # A bit transparent for color posts.

# Features
# More in the _data folder for social icons, share buttons, author and language
# For layout customization, go to the "_sass > base" folder, and check "_variables.scss"
katex: true                                             # Enable if using math markup
mermaid: true                                           # Enable mermaid-js for sequence and diagrams
google_analytics:                                       # Tracking ID, e.g. "UA-000000-01"
cookie_consent: false                                   # To respect the usage of cookies
disqus_shortname:                                       # Your discus shortname for comments

# PAGINATION
paginate: 5
paginate_path: "/blog/page:num"

# COLLECTIONS (e.g. PORTFOLIO)
collections:
  top_pages:
    output: true
  portfolio:
    output: true
    permalink: /:collection/:name

# BUILD SETTINGS
plugins: [jekyll-paginate, jekyll-seo-tag, jekyll-feed, jekyll-redirect-from]
whitelist:
  - jekyll-redirect-from
exclude:
  - ".jekyll-cache"
  - ".idea"
  - "assets/node_modules"
  - "*.gem"
  - "LICENSE"
  - "README.md"
  - "screenshot.png"
  - "package.json"
  - "node_modules"
  - "gulpfile.js"
  - ".idea/*"
  - ".github/*"
  - "_vendor/future_cxx/vendor/*"
  - "_vendor/reveal.js/node_modules/*"
  - "_vendor/reveal.js/test/*"
  - "_vendor/reveal.js/*.json"
  - "_vendor/reveal.js/*.md"
  - "_vendor/reveal.js/demo.html"
  - "_vendor/reveal.js/gruntfile.js"
  - "_vendor/reveal.js/LICENSE"
include:
  - "_presentations"
  - "_vendor"
  - "_vendor/future_cxx/papers"
  - "_vendor/reveal.js/lib"
  - "_vendor/reveal.js/plugin"
  - "_vendor/reveal.js/css"
  - "_vendor/reveal.js/js"
  - "_vendor/reveal.js/index.html"

# theme: type-on-strap                                  # if using the theme as a jekyll theme gem
remote_theme: sylhare/Type-on-Strap                     # If using as a remote_theme in github
