div.footer {
	z-index: 1;
	font-size: small;
	font-style: italic;
	position: absolute;
	opacity: 0.5;
	bottom: 0.5em;
	text-align: center;
	box-shadow: 2px 2px 2px #111;
	border-radius: 5px;
	padding: 10px !important;
}

div.footer:hover {
	opacity: 1;
}

.footnote {
	position: relative;
	top: -0.8em;
	font-size: 55%;
}
